<%- include("../partials/adminHeader") -%>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <!-- User Profile-->
        <li>
          <!-- User Profile-->
          <div class="user-profile d-flex no-block dropdown m-t-20">
            <div class="user-pic">
              <img src="assets/images/users/1.jpg" alt="users" class="rounded-circle" width="40" />
            </div>
            <div class="user-content hide-menu m-l-10">
              <a href="#" class="" id="Userdd" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5 class="m-b-0 user-name font-medium">
                  Sooraj A S <i class="fa fa-angle-down"></i>
                </h5>
                <span class="op-5 user-email">soorajas@gmail.com</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin/logout"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
              </div>
            </div>
          </div>
          <!-- End User Profile-->
        </li>
        <!-- <li class="p-15 m-t-10"><a href="javascript:void(0)"
                        class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center"><i
                            class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Create New</span> </a>
                </li> -->
        <!-- User Profile-->

        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/dashboard" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/user-page" aria-expanded="false"><i class="mdi mdi-account-circle"></i><span class="hide-menu">User</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/products" aria-expanded="false"><i class="mdi mdi-border-all"></i><span class="hide-menu">Products</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/view-order" aria-expanded="false"><i class="mdi mdi-truck"></i><span class="hide-menu">Orders</span></a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/admin-category" aria-expanded="false"><i class="mdi mdi-puzzle"></i><span class="hide-menu">Category</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/admin-offer" aria-expanded="false"><i class="mdi mdi-puzzle"></i><span class="hide-menu">Offers</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/profile" aria-expanded="false"><i class="mdi mdi-account-network"></i><span class="hide-menu">Profile</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/add-banner" aria-expanded="false"><i class="mdi mdi-account-network"></i><span class="hide-menu">Banner</span></a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Table -->
    <!-- ============================================================== -->
    <div class="row">
      <!-- column -->
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- title -->
            <div class="d-md">

              <div class="col-7">
                <form action="/admin/user-page">
                  <div class="form-outline mb-4">
                    <input type="search" class="form-control" placeholder="Search" name="search">
                  </div>
                </form>
              </div>


              <div>
                <h4 class="card-title">Users List</h4>
                <h5 class="card-subtitle">List of Users</h5>
              </div>

            </div>
            <!-- title -->
          </div>
          <div class="table-responsive upgrade-btn ">
            <table class="table v-middle text-center table-hover  ">
              <thead>
                <tr class="bg-light">
                  <th class="border-top-0">SI NO</th>
                  <th class="border-top-0">USER</th>
                  <th class="border-top-0">E-MAIL</th>
                  <th class="border-top-0">MOBILE NO</th>
                  <th class="border-top-0">Status</th>
                  <th class="border-top-0">ACTION</th>
                </tr>
              </thead>
              <tbody>
                <% if( users.length > 0){ %>
                <%   for(let i = 1;i <= users.length; i++){ %>
                <tr>
                  <td>
                    <%= i %>
                  </td>

                  <td>
                    <div class="d-flex align-items-center">
                      <div class="m-r-10"><a class="btn btn-circle d-flex btn-info text-white"><i class=" mdi mdi-account-circle"></i></a>
                      </div>
                      <div class="">
                        <h4 class="m-b-0 font-16">
                          <%= users[i-1].firstname %>
                          <%= users[i-1].lastname %>
                        </h4>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%= users[i-1].email %>
                  </td>
                  <td>
                    <%= users[i-1].mobileno %>
                  </td>
                  <td>
                    <% if(users[i-1].isVerified) { %>
                    <label class="btn-success">
                      <i class="m-r-10 mdi mdi-account">UnBlocked</i></label>
                    <% } else { %>
                    <label class="btn-danger">
                      <i class="m-r-10 mdi mdi-account-off">Blocked</i></label>
                    <% } %>
                    </label>
                  </td>

                  <td>
                    <!-- Default switch -->

                    <% if(users[i-1].isVerified) { %>
                    <a class="btn btn-sm btn-outline-danger block" href="/admin/block-user?id=<%= users[i-1]._id %> ">Block</a>
                    <% } else { %>

                    <a class="btn btn-sm btn-outline-success block" href="/admin/block-user?id=<%= users[i-1]._id %> ">Unblock</a>
                    <% } %>
                  </td>
                  <td>

                    <a href="/admin/delete-user?id=<%= users[i-1]._id %>" class="btn btn-sm btn-outline-danger delete"> Delete </a>

                  </td>



                </tr>
                <% } } else{ %>
                <tr>
                  <td colspan="5">Users Not Found</td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <br>
            <br>

            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item ">
                  <a class="page-link page-link-prev" href="?page=<%= previous %>" aria-label="Previous" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                  </a>
                </li>
                <% for(let i=1; i<= totalPages; i++) { %>
                <%  if(currentPage == i) { %>
                <li class="page-item active" area-current="page"><a class="page-link" href="?page=<%= i %>"><%= i %> </a></li>
                <% } else { %>
                <li class="page-item " area-current="page"><a class="page-link" href="?page=<%= i %>"><%= i %> </a></li>
                <% } %>

                <%  } %>
                <li class="page-item">
                  <a class="page-link page-link-next" href="?page=<%= next %>" aria-label="Next">
                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                  </a>
                </li>
              </ul>
            </nav>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Table -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <%- include("../partials/admin-footer.ejs") -%>