<%- include('../partials/userlogedinhead 2.ejs') %>

<main class="main">
  <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title"><span></span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="checkout">
      <div class="container">
        <div class="checkout-discount">

        </div><!-- End .checkout-discount -->
        <form action=" /edit-user-address" method="post">
          <div class="row">
            <div class="col-lg-9">
              <h2 class="checkout-title">Edit Details</h2><!-- End .checkout-title -->
              <div class="row">
                <div class="col-sm-6">
                  <label>First Name *</label>
                  <input type="text" class="form-control" name="firstname" value="<%=user.firstname %> " required>
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                  <label>Last Name *</label>
                  <input type="text" class="form-control" name="lastname" value="<%=user.lastname %>" required>
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <label>Country *</label>
              <input type="text" class="form-control" name="country" value="<%=user.country %>" required>

              <label>Street address *</label>
              <input type="text" class="form-control" name="streetAddress" value="<%=user.streetAddress %>" placeholder="House number and Street name" required>


              <div class="row">
                <div class="col-sm-6">
                  <label>Town / City *</label>
                  <input type="text" class="form-control" name="city" value="<%=user.city %> " required>
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                  <label>State / County *</label>
                  <input type="text" class="form-control" name="state" value="<%=user.state %>" required>
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <div class="row">
                <div class="col-sm-6">
                  <label>PIN code*</label>
                  <input type="text" class="form-control" name="pin" value="<%=user.pin %>" required>
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                  <label>Phone *</label>
                  <input type="tel" class="form-control" name="mobileno" value="<%=user.mobileno %>" required>
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <label>Email address *</label>

              <input type="email" class="form-control" name="email" value="<%=user.email %>" required>


              <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                <span class="btn-text">Edit Details</span>
                <span class="btn-hover-text">Proceed</span>
              </button>

            </div><!-- End .summary -->
            </aside><!-- End .col-lg-3 -->
          </div><!-- End .row -->
        </form>
      </div><!-- End .container -->
    </div><!-- End .checkout -->
  </div><!-- End .page-content -->
</main><!-- End .main -->

<%- include('../partials/userfooter.ejs') -%>